.post2 {
    .board {
        height: 840px;
        width: 840px;
        margin: 0 auto;
        border: 1px solid black;
    }

    .cell {
        width: 30px;
        height: 30px;
        background-color: white;
        text-align: center;
        font-size: 24px;
        font-family: sans-serif;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        cursor:pointer;
        float:left;
        line-height: 25px;
    }

 }
